<!DOCTYPE html>
<html>

<head>
	<title>Create Task</title>
</head>

<body>
	<h1>Create a New Task</h1>
	<form method="post" action="/task/create">
		<label for="title">Title:</label><br>
		<input type="text" id="title" name="title" required><br>

		<label for="description">Description:</label><br>
		<textarea id="description" name="description"></textarea><br>

		<label for="priority">Priority:</label><br>
		<select id="priority" name="priority" required>
			<option value="high">High</option>
			<option value="medium" selected>Medium</option>
			<option value="low">Low</option>
		</select><br>

		<label for="dueDate">Due Date:</label><br>
		<input type="date" id="dueDate" name="dueDate" required><br>

		<label for="category">Category:</label><br>
		<input type="text" id="category" name="category"><br>

		<label for="status">Status:</label><br>
		<select id="status" name="status" required>
			<option value="to-do" selected>To-Do</option>
			<option value="in progress">In Progress</option>
			<option value="completed">Completed</option>
		</select><br>

		<label for="notes">Notes:</label><br>
		<textarea id="notes" name="notes"></textarea><br>

		<label for="attachments">Attachments:</label><br>
		<input type="text" id="attachments" name="attachments"><br>

		<label for="collaborators">Collaborators:</label><br>
		<select id="collaborators" name="collaborators" multiple>
			<% users.forEach(user => { %>
			<option value="<%= user.id %>"><%= user.name %></option>
			<% }); %>
		</select><br>

		<label for="createdBy">Created By:</label><br>
		<input type="text" id="createdBy" name="createdBy" value="<%= createdBy._id %>" readonly required><br>

		<button type="submit" onclick="createHandler()">Create Task</button><br>

	</form>

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io()
		function createHandler() {
			return socket.emit('taskCreated')
		}

		socket.on('Created', async (data) => {
			alert("Created Successfully")
		})
	</script>
</body>

</html>